<template>
  <v-container fluid>
    <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-card-text>
                <v-form v-model="valid" ref="form">
                  <v-text-field  
                    :rules="idRules"
                    v-model="id" 
                    label="Employee ID (5 digits)">
                  </v-text-field>
                  <v-text-field 
                    :rules="nameRules" 
                    v-model="name" 
                    label="Name">
                  </v-text-field>
                  <v-text-field  
                    :rules="positionRules"
                    v-model="position"
                    label="Job Position">
                  </v-text-field>
                  <v-text-field  
                    v-model="email"
                    :rules="emailRules"
                    @keyup.enter="submit"
                    label="Email">
                  </v-text-field>
                  <v-text-field  
                    :rules="phoneRules"
                    v-model="phone" 
                    label="Phone">
                  </v-text-field>
                  <v-text-field  
                    :rules="salaryRules"
                    v-model="salary" 
                    label="Salary">
                  </v-text-field>
                  <v-text-field  
                    :rules="remainingLeavesRules"
                    v-model="remainingLeaves" 
                    label="Remaining Leaves">
                  </v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click="submit()"  :disabled="!valid" class="primary" color="white--text">Add</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
        <v-layout align-center justify-center mt-5>
          <v-flex xs12>
            <v-dialog v-model="dialog" max-width="500px">
        <v-card>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.id" label="Employee ID"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.name" label="Name"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.position" label="Job Position"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.email" label="Email"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.phone" label="Phone"></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="indigo darken-1" flat @click.native="dialog=false">Cancel</v-btn>
            <v-btn color="indigo darken-1" flat @click.native="save">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
            <v-card class="elevation-12">
               <v-data-table
                :headers="headers"
                :items="employee"
                hide-actions
                :pagination.sync="pagination"
                class="elevation-1"
              >
                <template slot="items" slot-scope="props">
                  <td class="text-xs-center">{{ props.item.id }}</td>
                  <td class="text-xs-center">{{ props.item.name }}</td>
                  <td class="text-xs-center">{{ props.item.position }}</td>
                  <td class="text-xs-center">{{ props.item.email }}</td>
                  <td class="text-xs-center">{{ props.item.phone }}</td>
                  <td class="text-xs-right">
                    <v-icon
                      small
                      class="mr-2"
                      @click="editItem(props.item)">
                      edit
                    </v-icon>
                  </td>
                </template>
              </v-data-table>
            </v-card>
            <div class="text-xs-center pt-2">
                <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
            </div>
          </v-flex>
        </v-layout>
  </v-container>
</template>
<script>
import * as firebase from 'firebase'
  export default {
    data: () => ({
      valid: false,
      id: '',
      name: '',
      position: '',
      phone: '',
      email: '',
      numberOfItems : null,
      pagination: {},
      dialog:false,
      editedIndex: -1,
      salary: null,
      remainingLeaves: null,
      editedItem: {
        id: '',
        name:'',
        position:'',
        email:'',
        phone:''
      },
      idRules : [
        v => !!v || 'Employee ID is required',
        v => /[0-9]/.test(v) && v.length == 5 || 'Employee ID must be 5 digits'
      ],
      nameRules : [
        v => !!v || 'Name is required',
        v => /^[a-zA-Z ]+$/.test(v) || 'Name can contain only alphabets'
      ],
      positionRules : [
        v => !!v || 'Position is required',
        v => /^[a-zA-Z ]+$/.test(v) || 'Position can contain only alphabets'
      ],
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid'
      ],
      phoneRules : [
        v => !!v || 'Phone Number is required',
        v => /^[+0-9]+$/.test(v) || 'Input must be numbers'
      ],
      remainingLeavesRules : [
        v => !!v || 'Remaining Leaves is required',
        v => /[0-9]/.test(v) || 'Remaining Leaves must be digit'
      ],
      salaryRules : [
        v => !!v || 'Salary is required',
        v => /[0-9]/.test(v) && v.length >= 6   || 'Salary must be digits and at least six'
      ],
       headers: [
          {
            text: 'Employee ID',
            align: 'center',
            value: 'id'
          },
          { 
            text: 'Name',
            align: 'center', 
            value: 'name' 
          },
          { 
            text: 'Job Position',
            align: 'center', 
            value: 'position' 
          },
          { 
            text: 'Email',
            align: 'center', 
            value: 'email' 
          },
          { 
            text: 'Phone',
            align: 'center', 
            value: 'phone' 
          },
          {
            text: 'Edit',
            align: 'center',
            value: 'edit'
          }
        ],
        employee: []
    }),
    methods: {
      //submit employee data to firebase
        submit () {
         const employeeData = {
            id : this.id,
            name : this.name,
            position : this.position,
            phone : this.phone,
            email : this.email,
            phone : this.phone,
            salary : this.salary,
            remainingLeaves : this.remainingLeaves
          }
         this.$store.dispatch('submitEmployeeData', employeeData)
         this.$refs.form.reset()
        },

      //edit employee data
      editItem (item) {
        this.editedIndex = this.employee.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      //save edited employee data
      save () {
      if (this.editedIndex > -1) {
        this.$store.dispatch('saveEditedEmployeeData', this.editedItem)
      } else {
        this.employee.push(this.editedItem)
      }
       this.dialog=false
    }
    },
    computed:{
       pages () {
      if (this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      ) return 0

      return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
      },

      //load employee list from store
      employeeList () {
        return this.$store.getters.employeeList
      }
    },
    watch : {
      //check employeeList value null or not 
      employeeList (value) {
        if (value !== null) {
          const obj = value
          const arrayOfEmployee = []
          for (let key in obj) {
            arrayOfEmployee.push({
              firebaseKey : obj[key].firebaseKey,
              id : obj[key].id,
              name : obj[key].name,
              position : obj[key].position,
              phone : obj[key].phone,
              email : obj[key].email
            })
          }
          this.employee = arrayOfEmployee
          this.numberOfItems = this.employee.length
          this.pagination.totalItems = this.numberOfItems
        }
      }
    },
    created () {
      this.$store.dispatch('loadEmployeeData')    //call data for employeeList()
      var today = new Date()
      var dd = today.getDate()
      var mm = today.getMonth() 
      var yyyy = today.getFullYear()
      if (dd < 10) {
        dd = '0' + dd
      }
      if (mm < 10) {
        mm = '0' + mm
      }
      var mm2 = Number(mm) + 1 
      if (mm2 < 10) {
        mm2 = '0' + mm2
      }
      if ( dd = 11) {
        this.$store.dispatch('calculateMonthlySalary', {
        startDate : yyyy + '-' + mm + '-' + '01',
        endDate : yyyy + '-' + mm2 + '-' + '01'
      })
      }
    } 
  }
</script>
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
