<template>
  <v-container fluid>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md6>
            <v-card class="elevation-12">
              <v-card-text>
                <v-form v-model="valid" ref="form">
                  <div style="color:rgba(0,0,0,.54);padding-bottom:10px">
                    <v-flex xs12>
                    <v-dialog
                    ref="dialog2"
                    v-model="modal3"
                    :return-value.sync="time2"
                    persistent
                    lazy
                    full-width
                    width="290px"
                  >
                    <v-text-field
                      slot="activator"
                      v-model="currentDate"
                      label="Date"
                      prepend-icon="access_time"
                      readonly
                      :rules="[v => !!v || 'Item is required']"
                    ></v-text-field>
                    <v-date-picker
                      v-if="modal3"
                      v-model="currentDate"
                    >
                      <v-spacer></v-spacer>
                      <v-btn flat color="primary" @click="modal3 = false">Cancel</v-btn>
                      <v-btn flat color="primary" @click="$refs.dialog2.save(currentDate)">OK</v-btn>
                    </v-date-picker>
                  </v-dialog>
                  </v-flex>
                   </div>
                  <v-select 
                  v-model="employee" 
                  label="Employee" 
                  :items='employeeArray'
                  :rules="[v => !!v || 'Employee is required']"
                  required
                  ></v-select>
                  <div style="color:rgba(0,0,0,.54)">
                      <v-layout>
                          <v-flex xs3 sm2>Status :</v-flex>
                          <v-flex xs9 sm10>
                              <v-radio-group v-model="radioGroup" row style="margin-top:-2px">
                                <v-radio
                                    v-for="n in status"
                                    :key="n.title"
                                    :label="`${n}`"
                                    :value="n"
                                ></v-radio>
                                </v-radio-group>
                          </v-flex>
                      </v-layout>                                        
                  </div>
                  <div v-if="radioGroup=='Presence'">
                  <v-dialog
                    ref="dialog"
                    v-model="modal1"
                    :return-value.sync="time"
                    persistent
                    lazyzz
                    full-width
                    width="290px"
                  >
                    <v-text-field
                      slot="activator"
                      v-model="time"
                      label="Arrive Time"
                      prepend-icon="access_time"
                      readonly
                      :rules="[v => !!v || 'Time is required']"
                    ></v-text-field>
                    <v-time-picker
                      v-if="modal1"
                      v-model="time"
                    >
                      <v-spacer></v-spacer>
                      <v-btn flat color="primary" @click="modal1 = false">Cancel</v-btn>
                      <v-btn flat color="primary" @click="$refs.dialog.save(time)">OK</v-btn>
                    </v-time-picker>
                  </v-dialog>
                  <v-dialog
                    ref="dialog1"
                    v-model="modal2"
                    :return-value.sync="time1"
                    persistent
                    lazy
                    full-width
                    width="290px"
                  >
                    <v-text-field
                      slot="activator"
                      v-model="time1"
                      label="Leave Time"
                      prepend-icon="access_time"
                      readonly
                      :rules="[v => !!v || 'Item is required']"
                    ></v-text-field>
                    <v-time-picker
                      v-if="modal2"
                      v-model="time1"
                    >
                      <v-spacer></v-spacer>
                      <v-btn flat color="primary" @click="modal2 = false">Cancel</v-btn>
                      <v-btn flat color="primary" @click="$refs.dialog1.save(time1)">OK</v-btn>
                    </v-time-picker>
                  </v-dialog>
                </div>
                <div v-if="radioGroup=='Leave'">
                  <div style="color:rgba(0,0,0,.54)">
                      <v-layout>
                              <v-radio-group v-model="radioGroupLeave" row style="margin-top:-2px">
                               <v-flex xs12>
                               <v-radio
                                    v-for="n in leave"
                                    :key="n.title"
                                    :label="`${n}`"
                                    :value="n"
                                ></v-radio>
                                </v-flex>
                                </v-radio-group>
                      </v-layout>                                        
                  </div>
                  <v-text-field
                  label="Note For Leave"
                  v-model="leaveNote"
                  :rules="[v => !!v || 'Note is required']"
                  outline>
                  </v-text-field>
                </div>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click="submit()"  :disabled="!valid" class="primary" color="white--text">Submit</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
        <v-layout align-center justify-center mt-5>
          <v-flex xs12>
            <v-dialog v-model="dialog" max-width="500px">        
                <v-card>
                    <v-card-text>
                        <v-container grid-list-md>
                            <v-text-field
                              slot="activator"
                              v-model="currentDate"
                              label="Date"
                              prepend-icon="access_time"
                              readonly
                              :rules="[v => !!v || 'Item is required']"
                            ></v-text-field>
                            <v-flex xs12>
                            <v-text-field readonly v-model="editedItem.name" label="Employee"></v-text-field>
                            </v-flex>
                            <div style="color:rgba(0,0,0,.54)">
                          <v-layout>
                              <v-flex xs3 sm2>Status :</v-flex>
                              <v-flex xs9 sm10>
                                  <v-radio-group v-model="editedItem.attendStatus" row style="margin-top:-2px">
                                    <v-radio
                                        v-for="n in status"
                                        :key="n.title"
                                        :label="`${n}`"
                                        :value="n"
                                    ></v-radio>
                                    </v-radio-group>
                              </v-flex>
                          </v-layout>                                        
                      </div>
                      <div v-if="editedItem.attendStatus =='Presence'">
                      <v-dialog
                        ref="dialog"
                        v-model="modal4"
                        :return-value.sync="editedItem.arriveTime"
                        persistent
                        lazyzz
                        full-width
                        width="290px"
                      >
                        <v-text-field
                          slot="activator"
                          v-model="editedItem.arriveTime"
                          label="Arrive Time"
                          prepend-icon="access_time"
                          readonly
                          :rules="[v => !!v || 'Time is required']"
                        ></v-text-field>
                        <v-time-picker
                          v-if="modal4"
                          v-model="editedItem.arriveTime"
                        >
                          <v-spacer></v-spacer>
                          <v-btn flat color="primary" @click="modal4 = false">Cancel</v-btn>
                          <v-btn flat color="primary" @click="$refs.dialog.save(editedItem.arriveTime)">OK</v-btn>
                        </v-time-picker>
                      </v-dialog>
                      <v-dialog
                        ref="dialog1"
                        v-model="modal5"
                        :return-value.sync="editedItem.leaveTime"
                        persistent
                        lazy
                        full-width
                        width="290px"
                      >
                        <v-text-field
                          slot="activator"
                          v-model="editedItem.leaveTime"
                          label="Leave Time"
                          prepend-icon="access_time"
                          readonly
                          :rules="[v => !!v || 'Item is required']"
                        ></v-text-field>
                        <v-time-picker
                          v-if="modal5"
                          v-model="editedItem.leaveTime"
                        >
                          <v-spacer></v-spacer>
                          <v-btn flat color="primary" @click="modal5 = false">Cancel</v-btn>
                          <v-btn flat color="primary" @click="$refs.dialog1.save(editedItem.leaveTime)">OK</v-btn>
                        </v-time-picker>
                      </v-dialog>
                    </div>
                    <div v-if="editedItem.attendStatus=='Leave'">
                      <div style="color:rgba(0,0,0,.54)">
                          <v-layout>
                                  <v-radio-group v-model="editedItem.leaveReason" row style="margin-top:-2px">
                                  <v-flex xs12>
                                  <v-radio
                                        v-for="n in leave"
                                        :key="n.title"
                                        :label="`${n}`"
                                        :value="n"
                                    ></v-radio>
                                    </v-flex>
                                    </v-radio-group>
                                  </v-layout>
                                  </div>
                                  <v-text-field
                                  label="Note For Leave"
                                  v-model="editedItem.leaveNote"
                                  :rules="[v => !!v || 'Note is required']"
                                  outline>
                                  </v-text-field>
                                </div>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click.native="dialog=false">Cancel</v-btn>
                        <v-btn color="blue darken-1" flat @click.native="saveAttendance">Save</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <h1 class="text-xs-center pb-3">Attendance Sheet For Today</h1>
            <v-card class="elevation-12">
                <v-data-table
                    :headers="headers"
                    :items="todayDataArray"
                    hide-actions
                    :pagination.sync="pagination"
                    class="elevation-1">
                    <template slot="items" slot-scope="props">
                    <td class="text-xs-center">{{ props.item.name }}</td>
                    <td class="text-xs-center">{{ props.item.attendStatus }}</td>
                    <td class="text-xs-center">{{ props.item.arriveTime }}</td>
                    <td class="text-xs-center">{{ props.item.leaveTime }}</td>
                    <td class="text-xs-center">{{ props.item.leaveNote }}</td>
                    <td class="text-xs-right">
                        <v-icon
                        small
                        class="mr-2"
                        @click="editItem(props.item)">
                        edit
                        </v-icon>
                    </td>
                    </template>
                </v-data-table>
            </v-card>
            <div class="text-xs-center pt-2">
                <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
            </div>
         </v-flex>
        </v-layout>
  </v-container>
</template>

<script>
  export default {
    data: () => ({
      workDuration: 510,
      timeGap: 0,
      absenceLeaveFee : null,
      deductionFee : null,
      medicalLeaveFee : null,
      personalLeaveFee : null,
      radioGroupLeave: 'Permitted',
      employeesData : [],
      valid: true,
      currentDate : null,
      currentDay : null,
      currentMonth : null,
      currentYear : null,
      employee: null,
      arriveTime:null,
      leaveTime:null,
      modal1: false,
      modal2: false,
      modal3: false,
      modal4: false,
      modal5: false,
      time: null,
      time1: null,
      time2: null,
      time3: null,
      time4: null,
      leaveNote : '',
      pagination: {},
      dialog:false,
      radioGroup: 'Presence',
      radioGroupLeave: 'Permitted Leave',
      editedIndex: -1,
      dataToCheck: [],
      duplicateState : '',
      todayDate : null,
      leave: [
              'Permitted Leave',
              'Personal Leave',
              'Medical Leave'
             ],
      editedItem: {
          name:'',
          status:'',
          arriveTime: '',
          leaveTime: '',
          note:'',
          leaveReason: ''
      },
      status: [
          'Presence',
          'Leave',
          'Absence'
      ],
      employeeArray: [],
      headers: [
          {
            text: 'Name',
            align: 'center',
            value: 'name'
          },
          { text: 'Status',align: 'center', value: 'status' },
          { text: 'Arrival Time',align: 'center', value: 'arriveTime' },
          { text: 'Leave Time',align: 'center', value: 'leaveTime' },
          { text: 'Note',align: 'center', value: 'note' },
          { text: 'Edit',align: 'center', value: 'name' }
      ],
      todayDataArray : [],
      localAttendStatus: '',
      localLeaveReason: '',
      localPercent: ''
    }),
    methods: {
        submit () {
          if (this.duplicateState == true) {
            alert('This form is duplicate.')
            this.$refs.form.reset()
            return
          } else {
              if (this.radioGroup == 'Presence') {
                const arriveTime = this.time
                const arriveTimeInMinutes = Number(arriveTime.slice(0, 2) * 60)
                const arriveTimeMinutes =   Number(arriveTime.slice(3, 5))
                const arriveResultTime = arriveTimeInMinutes + arriveTimeMinutes
                const leaveTime = this.time1
                const leaveTimeInMinutes = Number(leaveTime.slice(0, 2) * 60)
                const leaveTimeMinutes = Number(leaveTime.slice(3, 5))
                const leaveResultTime = leaveTimeInMinutes + leaveTimeMinutes
                if ((leaveResultTime - arriveResultTime) < this.workDuration) {
                  this.timeGap = this.workDuration - (leaveResultTime - arriveResultTime)
                }
                const submittedPresenceAttendanceData = {
                  employee : this.employee,
                  arriveTime : this.time,
                  leaveTime : this.time1,
                  attendStatus : this.radioGroup,
                  date : this.currentDate,
                  leaveNote : '-'
                }
                  submittedPresenceAttendanceData.percent = this.timeGap * this.deductionFee  //this code is calculate for percent
                  this.$store.dispatch('submitPresenceAttendanceData', submittedPresenceAttendanceData)
              } else if (this.radioGroup == 'Leave') {
                  const submittedLeaveAttendanceData = {
                    employee : this.employee,
                    leaveNote : this.leaveNote,
                    attendStatus : this.radioGroup,
                    date : this.currentDate,
                    arriveTime : '-',
                    leaveTime : '-',
                    leaveReason: this.radioGroupLeave
                  }
              for (let key in this.employeesData) {
              if (this.employeesData[key].name == this.employee) {
                const resultEmployee = this.employeesData[key]
                const leaveCount = resultEmployee.remainingLeaves
                  if(this.radioGroupLeave == 'Permitted Leave') {
                    submittedLeaveAttendanceData.percent = 0
                  } else if (this.radioGroupLeave == 'Medical Leave' && leaveCount == 0) {
                      submittedLeaveAttendanceData.percent = this.medicalLeaveFee
                  } else if (this.radioGroupLeave == 'Medical Leave' && leaveCount !== 0) {
                      submittedLeaveAttendanceData.percent = 0
                      this.$store.dispatch('substractRemainingLeaveCount', {employee : this.employee, firebaseKey : resultEmployee.firebaseKey})
                      break
                  } else if (this.radioGroupLeave == 'Personal Leave' && leaveCount == 0) {
                      submittedLeaveAttendanceData.percent = this.personalLeaveFee
                  } else if (this.radioGroupLeave == 'Personal Leave' && leaveCount !== 0) {
                      submittedLeaveAttendanceData.percent = 0
                      this.$store.dispatch('substractRemainingLeaveCount', {employee : this.employee, firebaseKey : resultEmployee.firebaseKey})
                      break
                  }
                }
              }
                this.$store.dispatch('submitLeaveAttendanceData', submittedLeaveAttendanceData)
              } else if (this.radioGroup == 'Absence') {
                  const submittedAbsenceAttendanceData = {
                    employee : this.employee,
                    attendStatus : this.radioGroup,
                    date : this.currentDate,
                    arriveTime : '-',
                    leaveTime : '-',
                    leaveNote : '-'
                  }
                    for (let key in this.employeesData) {
                      if (this.employeesData[key].name == this.employee) {
                        const resultEmployee = this.employeesData[key]
                        const leaveCount = resultEmployee.remainingLeaves
                        if (leaveCount == 0) {
                          submittedAbsenceAttendanceData.percent = this.absenceLeaveFee
                        } else {
                          submittedAbsenceAttendanceData.percent = 0
                          this.$store.dispatch('substractRemainingLeaveCount', {employee : this.employee, firebaseKey : resultEmployee.firebaseKey})
                          break
                        }
                      }
                    }
                    this.$store.dispatch('submitAbsenceAttendanceData', submittedAbsenceAttendanceData)
                }
            this.$refs.form.reset()
            this.radioGroup = 'Presence' 
          }
      },
      editItem (item) {
        this.editedIndex = this.todayDataArray.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
        this.localAttendStatus = item.attendStatus
        this.localPercent     = item.percent
        this.localLeaveReason = item.leaveReason
        this.employee         = item.name
      },
      saveAttendance () {
         if (this.editedIndex > -1) {
            if (this.localAttendStatus == 'Presence' && this.editedItem.attendStatus == 'Presence') {
                const arriveTime = this.editedItem.arriveTime
                const arriveTimeInMinutes = Number(arriveTime.slice(0, 2) * 60)
                const arriveTimeMinutes =   Number(arriveTime.slice(3, 5))
                const arriveResultTime = arriveTimeInMinutes + arriveTimeMinutes
                const leaveTime = this.editedItem.leaveTime
                const leaveTimeInMinutes = Number(leaveTime.slice(0, 2) * 60)
                const leaveTimeMinutes = Number(leaveTime.slice(3, 5))
                const leaveResultTime = leaveTimeInMinutes + leaveTimeMinutes
                if ((leaveResultTime - arriveResultTime) < this.workDuration) {
                  this.timeGap = this.workDuration - (leaveResultTime - arriveResultTime)
                }
                const submittedPresenceAttendanceData = {
                  employee : this.editedItem.name,
                  arriveTime : this.editedItem.arriveTime,
                  leaveTime : this.editedItem.leaveTime,
                  attendStatus : this.editedItem.attendStatus,
                  date : this.currentDate,
                  leaveNote : '-'
                }
                  submittedPresenceAttendanceData.percent = this.timeGap * this.deductionFee  //this code is calculate for percent
                  this.$store.dispatch('submitPresenceAttendanceData', submittedPresenceAttendanceData)
         }
         else if (this.localAttendStatus == 'Presence' && this.editedItem.attendStatus == 'Leave') {
               const submittedLeaveAttendanceData = {
                    employee : this.editedItem.name,
                    leaveNote : this.editedItem.leaveNote,
                    attendStatus : this.editedItem.attendStatus,
                    date : this.currentDate,
                    arriveTime : '-',
                    leaveTime : '-',
                    leaveReason: this.editedItem.leaveReason
                  }
              for (let key in this.employeesData) {
              if (this.employeesData[key].name == this.editedItem.name) {
                const resultEmployee = this.employeesData[key]
                const leaveCount = resultEmployee.remainingLeaves
                  if(this.editedItem.leaveReason == 'Permitted Leave') {
                    submittedLeaveAttendanceData.percent = 0
                  } else if (this.editedItem.leaveReason == 'Medical Leave' && leaveCount == 0) {
                      submittedLeaveAttendanceData.percent = this.medicalLeaveFee
                  } else if (this.editedItem.leaveReason == 'Medical Leave' && leaveCount !== 0) {
                      submittedLeaveAttendanceData.percent = 0
                      this.$store.dispatch('substractRemainingLeaveCount', {employee : this.employee, firebaseKey : resultEmployee.firebaseKey})
                      break
                  } else if (this.editedItem.leaveReason == 'Personal Leave' && leaveCount == 0) {
                      submittedLeaveAttendanceData.percent = this.personalLeaveFee
                  } else if (this.editedItem.leaveReason == 'Personal Leave' && leaveCount !== 0) {
                      submittedLeaveAttendanceData.percent = 0
                      this.$store.dispatch('substractRemainingLeaveCount', {employee : this.employee, firebaseKey : resultEmployee.firebaseKey})
                      break
                  }
                }
              }
                this.$store.dispatch('submitLeaveAttendanceData', submittedLeaveAttendanceData)
        } 
        else if (this.localAttendStatus == 'Presence' && this.editedItem.attendStatus == 'Absence') {
               const submittedAbsenceAttendanceData = {
                    employee : this.editedItem.name,
                    attendStatus : this.editedItem.attendStatus,
                    date : this.currentDate,
                    arriveTime : '-',
                    leaveTime : '-',
                    leaveNote : '-'
                  }
                    for (let key in this.employeesData) {
                      if (this.employeesData[key].name == this.editedItem.name) {
                        const resultEmployee = this.employeesData[key]
                        const leaveCount = resultEmployee.remainingLeaves
                        if (leaveCount == 0) {
                          submittedAbsenceAttendanceData.percent = this.absenceLeaveFee
                        } else {
                          submittedAbsenceAttendanceData.percent = 0
                          this.$store.dispatch('substractRemainingLeaveCount', {employee : this.employee, firebaseKey : resultEmployee.firebaseKey})
                          break
                        }
                      }
                    }
                    this.$store.dispatch('submitAbsenceAttendanceData', submittedAbsenceAttendanceData)
        } 
        else if (this.localAttendStatus == 'Leave' && this.editedItem.attendStatus == 'Presence') {
          const arriveTime = this.editedItem.arriveTime
                const arriveTimeInMinutes = Number(arriveTime.slice(0, 2) * 60)
                const arriveTimeMinutes =   Number(arriveTime.slice(3, 5))
                const arriveResultTime = arriveTimeInMinutes + arriveTimeMinutes
                const leaveTime = this.editedItem.leaveTime
                const leaveTimeInMinutes = Number(leaveTime.slice(0, 2) * 60)
                const leaveTimeMinutes = Number(leaveTime.slice(3, 5))
                const leaveResultTime = leaveTimeInMinutes + leaveTimeMinutes
                if ((leaveResultTime - arriveResultTime) < this.workDuration) {
                  this.timeGap = this.workDuration - (leaveResultTime - arriveResultTime)
                }
                const submittedPresenceAttendanceData = {
                  employee : this.editedItem.name,
                  arriveTime : this.editedItem.arriveTime,
                  leaveTime : this.editedItem.leaveTime,
                  attendStatus : this.editedItem.attendStatus,
                  date : this.currentDate,
                  leaveNote : '-'
                }
                submittedPresenceAttendanceData.percent = this.timeGap * this.deductionFee  //this code is calculate for percent
                for (let key in this.employeesData) {
                  if (this.employeesData[key].name == this.employee) {
                    const resultEmployee = this.employeesData[key]
                    const leaveCount = resultEmployee.remainingLeaves

                  if(this.localLeaveReason == 'Personal Leave' || this.localLeaveReason == 'Medical Leave'){
                    if(this.localPercent == 0){
                      this.$store.dispatch('addRemainingLeaveCount', {employee : this.employee, firebaseKey : resultEmployee.firebaseKey})
                      break
                    }
                  }
                }
              }
                  
              this.$store.dispatch('submitPresenceAttendanceData', submittedPresenceAttendanceData)
        }

         else if (this.localAttendStatus == 'Leave' && this.editedItem.attendStatus == 'Leave') {
          const submittedLeaveAttendanceData = {
                    employee : this.editedItem.name,
                    leaveNote : this.editedItem.leaveNote,
                    attendStatus : this.editedItem.attendStatus,
                    date : this.currentDate,
                    arriveTime : this.editedItem.arriveTime,
                    leaveTime : this.editedItem.leaveTime,
                    leaveReason: this.editedItem.leaveReason
                  }
          if(this.localLeaveReason == 'Permitted Leave' && this.editedItem.leaveReason == 'Personal Leave'){
            for (let key in this.employeesData) {
              if (this.employeesData[key].name == this.employee) {
                const resultEmployee = this.employeesData[key]
                const leaveCount = resultEmployee.remainingLeaves
                  if (leaveCount == 0) {
                      submittedLeaveAttendanceData.percent = this.personalLeaveFee
                  } else{
                      submittedLeaveAttendanceData.percent = 0
                      this.$store.dispatch('substractRemainingLeaveCount', {employee : this.employee, firebaseKey : resultEmployee.firebaseKey})
                      break
                  }
                }
              }
          }
          else if(this.localLeaveReason == 'Permitted Leave' && this.editedItem.leaveReason == 'Medical Leave'){
            for (let key in this.employeesData) {
              if (this.employeesData[key].name == this.employee) {
                const resultEmployee = this.employeesData[key]
                const leaveCount = resultEmployee.remainingLeaves
                if (leaveCount == 0) {
                      submittedLeaveAttendanceData.percent = this.medicalLeaveFee
                  } else{
                      submittedLeaveAttendanceData.percent = 0
                      this.$store.dispatch('substractRemainingLeaveCount', {employee : this.employee, firebaseKey : resultEmployee.firebaseKey})
                      break
                }
              }
          }
        }else if(this.localLeaveReason == 'Personal Leave' && this.editedItem.leaveReason == 'Permitted Leave'){
          submittedLeaveAttendanceData.percent = 0
          for (let key in this.employeesData) {
                  if (this.employeesData[key].name == this.employee) {
                    const resultEmployee = this.employeesData[key]
                    const leaveCount = resultEmployee.remainingLeaves
                    if(this.localPercent == 0){
                      this.$store.dispatch('addRemainingLeaveCount', {employee : this.employee, firebaseKey : resultEmployee.firebaseKey})
                      break
                    }
                }
              }
        }else if(this.localLeaveReason == 'Personal Leave' && this.editedItem.leaveReason == 'Medical Leave'){
          for (let key in this.employeesData) {
              if (this.employeesData[key].name == this.employee) {
                const resultEmployee = this.employeesData[key]
                const leaveCount = resultEmployee.remainingLeaves
                if (leaveCount == 0) {
                  if(this.localPercent !== 0){
                      submittedLeaveAttendanceData.percent = this.medicalLeaveFee
                  }else{
                    submittedLeaveAttendanceData.percent = 0
                  }
                  } else{
                    console.log('from else')
                }
              }
          }
        }else if(this.localLeaveReason == 'Medical Leave' && this.editedItem.leaveReason == 'Permitted Leave'){
          submittedLeaveAttendanceData.percent = 0
          for (let key in this.employeesData) {
                  if (this.employeesData[key].name == this.employee) {
                    const resultEmployee = this.employeesData[key]
                    const leaveCount = resultEmployee.remainingLeaves
                    if(this.localPercent == 0){
                      this.$store.dispatch('addRemainingLeaveCount', {employee : this.employee, firebaseKey : resultEmployee.firebaseKey})
                      break
                    }
                }
              }
          }
          else if(this.localLeaveReason == 'Medical Leave' && this.editedItem.leaveReason == 'Personal Leave'){
          for (let key in this.employeesData) {
              if (this.employeesData[key].name == this.employee) {
                const resultEmployee = this.employeesData[key]
                const leaveCount = resultEmployee.remainingLeaves
                if (leaveCount == 0) {
                  if(this.localPercent !== 0){
                      submittedLeaveAttendanceData.percent = this.personalLeaveFee
                  }else{
                    submittedLeaveAttendanceData.percent = 0
                  }
                  } else{
                    console.log('from else')
                }
                }
              }
          }
          this.$store.dispatch('submitLeaveAttendanceData', submittedLeaveAttendanceData)
        }
        else if (this.localAttendStatus == 'Leave' && this.editedItem.attendStatus == 'Absence') {
          const submittedAbsenceAttendanceData = {
                    employee : this.editedItem.name,
                    leaveNote : '-',
                    attendStatus : this.editedItem.attendStatus,
                    date : this.currentDate,
                    arriveTime : this.editedItem.arriveTime,
                    leaveTime : this.editedItem.leaveTime,
                    leaveReason: this.editedItem.leaveReason
                  }
                    for (let key in this.employeesData) {
                      if (this.employeesData[key].name == this.editedItem.name) {
                        const resultEmployee = this.employeesData[key]
                        const leaveCount = resultEmployee.remainingLeaves
                        if (leaveCount == 0) {
                        if(this.localPercent !== 0){
                          submittedAbsenceAttendanceData.percent = this.absenceLeaveFee
                        }
                        else{
                          if(this.localLeaveReason !== 'Permitted Leave'){
                            submittedAbsenceAttendanceData.percent = 0
                          }else{
                            submittedAbsenceAttendanceData.percent = this.absenceLeaveFee
                        }
                      }
                      } else{
                          submittedAbsenceAttendanceData.percent = 0
                          this.$store.dispatch('substractRemainingLeaveCount', {employee : this.employee, firebaseKey : resultEmployee.firebaseKey})
                          break
                      }
                      }
                    }
                    this.$store.dispatch('submitAbsenceAttendanceData', submittedAbsenceAttendanceData)
        }
         else if (this.localAttendStatus == 'Absence' && this.editedItem.attendStatus == 'Presence') {
                const arriveTime = this.editedItem.arriveTime
                const arriveTimeInMinutes = Number(arriveTime.slice(0, 2) * 60)
                const arriveTimeMinutes =   Number(arriveTime.slice(3, 5))
                const arriveResultTime = arriveTimeInMinutes + arriveTimeMinutes
                const leaveTime = this.editedItem.leaveTime
                const leaveTimeInMinutes = Number(leaveTime.slice(0, 2) * 60)
                const leaveTimeMinutes = Number(leaveTime.slice(3, 5))
                const leaveResultTime = leaveTimeInMinutes + leaveTimeMinutes
                if ((leaveResultTime - arriveResultTime) < this.workDuration) {
                  this.timeGap = this.workDuration - (leaveResultTime - arriveResultTime)
                }
                const submittedPresenceAttendanceData = {
                  employee : this.editedItem.name,
                  arriveTime : this.editedItem.arriveTime,
                  leaveTime : this.editedItem.leaveTime,
                  attendStatus : this.editedItem.attendStatus,
                  date : this.currentDate,
                  leaveNote : '-'
                }
                  submittedPresenceAttendanceData.percent = this.timeGap * this.deductionFee  //this code is calculate for percent
                  for (let key in this.employeesData) {
                  if (this.employeesData[key].name == this.employee) {
                    const resultEmployee = this.employeesData[key]
                    const leaveCount = resultEmployee.remainingLeaves
                    if(this.localPercent == 0){
                      this.$store.dispatch('addRemainingLeaveCount', {employee : this.employee, firebaseKey : resultEmployee.firebaseKey})
                      break
                    }
                }
              }
                  this.$store.dispatch('submitPresenceAttendanceData', submittedPresenceAttendanceData)
        }
        else if (this.localAttendStatus == 'Absence' && this.editedItem.attendStatus == 'Leave') {
          const submittedLeaveAttendanceData = {
                    employee : this.editedItem.name,
                    leaveNote : this.editedItem.leaveNote,
                    attendStatus : this.editedItem.attendStatus,
                    date : this.currentDate,
                    arriveTime : '-',
                    leaveTime : '-',
                    leaveReason: this.editedItem.leaveReason
                  }
              for (let key in this.employeesData) {
              if (this.employeesData[key].name == this.editedItem.name) {
                const resultEmployee = this.employeesData[key]
                const leaveCount = resultEmployee.remainingLeaves
                  if(this.editedItem.leaveReason == 'Permitted Leave') {
                    submittedLeaveAttendanceData.percent = 0
                        if(this.localPercent == 0){
                          this.$store.dispatch('addRemainingLeaveCount', {employee : this.employee, firebaseKey : resultEmployee.firebaseKey})
                          break
                        }
                  } 
                  else if (this.editedItem.leaveReason == 'Medical Leave') {
                    if(this.localPercent !== 0){
                      submittedLeaveAttendanceData.percent = this.medicalLeaveFee
                    }
                    else{
                      submittedLeaveAttendanceData.percent = 0
                    }
                  }
                  else if (this.editedItem.leaveReason == 'Personal Leave') {
                    if(this.localPercent !== 0){
                      submittedLeaveAttendanceData.percent = this.personalLeaveFee
                    }
                    else{
                      submittedLeaveAttendanceData.percent = 0
                    }
                  } 
                }
              }
                this.$store.dispatch('submitLeaveAttendanceData', submittedLeaveAttendanceData)
        }
          this.dialog = false
          this.modal4 = null
          this.employee = ' '
         }
      }
  },
    computed:{
      pages () {
      if (this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      ) return 0
      return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
      },
      employeeNames () {
        return this.$store.getters.employeeNames
      },
      todayData () {
        return this.$store.getters.todayData
      },
      hrRules () {
        return this.$store.getters.hrRules
      },
      allEmployee () {
        return this.$store.getters.allEmployee
      },
      duplicateData () {
        return this.$store.getters.duplicateData
      }
    },
    watch : {
      employeeNames (value) {
        if (value !== null) {
          const obj = value
          const arrayOfNames = []
          for (let key in obj) {
            arrayOfNames.push(obj[key].name)
          }
          this.employeeArray = arrayOfNames
        } 
      },
      todayData (value) {
        if (value !== null) {
          const todayDataObj = value 
          const arrayOfTodayData = []
          for (let key in todayDataObj) {
            arrayOfTodayData.push({
              name : todayDataObj[key].name,
              arriveTime : todayDataObj[key].arriveTime,
              leaveTime : todayDataObj[key].leaveTime,
              leaveNote : todayDataObj[key].leaveNote,
              attendStatus : todayDataObj[key].attendStatus,
              leaveReason: todayDataObj[key].leaveReason,
              percent : todayDataObj[key].percent
            })
          }
          this.todayDataArray = arrayOfTodayData
          this.pagination.totalItems = this.todayDataArray.length
        }
      },
      hrRules (value) {
        if (value !== null) {
          const rulesData = value
          this.absenceLeaveFee = rulesData.absenceLeaveFee,
          this.deductionFee = rulesData.deductionFee,
          this.medicalLeaveFee = rulesData.medicalLeaveFee,
          this.personalLeaveFee = rulesData.personalLeaveFee 
        }
      },
      allEmployee (value) {
        if (value !== null) {
          const allEmployee = value
          for (let key in allEmployee) {
            this.employeesData.push({
              email: allEmployee[key].email,
              id : allEmployee[key].id,
              name : allEmployee[key].name,
              phone : allEmployee[key].phone,
              position : allEmployee[key].position,
              remainingLeaves : allEmployee[key].remainingLeaves,
              salary : allEmployee[key].salary,
              firebaseKey : allEmployee[key].firebaseKey
            })
          }
        }
      },
      duplicateData (value) {
        if (value !== null) {
          this.dataToCheck = value
        }
      },
      currentDate (value) {
        if (value !== undefined) {
          this.$store.dispatch('checkDuplicateAttendance', {checkDate : this.currentDate})
        }
      },
      employee (value) {
        if (value !== null || value !== undefined) {
          if (this.dataToCheck.indexOf(value) > -1) {
            this.duplicateState = true
          } else {
            this.duplicateState = false
          }
        }
      },
      duplicateState (value) {
        if (value !== null || value !== undefined) {
          console.log(value)
        }
      },
      editedItem (value) {
        if (value.attendStatus !== 'Presence') {
          this.editedItem.arriveTime = null,
          this.editedItem.leaveTime = null
        }
      },
      dialog (value) {
        if (value == true) {
          this.currentDate = this.todayDate
        }
      }
    },
    created () {
      this.$store.dispatch('loadEmployees')
      this.$store.dispatch('loadEmployeeNames')
      this.$store.dispatch('getHRRules')
        var today = new Date()
        var dd = today.getDate()
        var mm = today.getMonth()+1 //January is 0!
        var yyyy = today.getFullYear()

        if(dd<10) {
          dd = '0'+dd
        }  
        if(mm<10) {
          mm = '0'+mm
        } 
        today = yyyy + '-' + mm + '-' + dd 
        this.currentDate = today
        this.dateGetter = today
        this.todayDate = today
        this.currentDay = dd
        this.currentMonth = Number(mm)
        this.currentYear = yyyy
        this.$store.dispatch('loadTodayAttendance')
    }
  }
</script>
<style scope>
.v-icon{
    font-size: 20px;
}
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
