<template>
<v-container fluid>
    <v-layout row wrap align-center justify-center>      
          <v-flex xs12 sm8 md8 pa-2>
            <v-card class="elevation-12">
              <v-card-text>
                  <h3 class="text-xs-right mb-2">{{ currentDate }} </h3>  
                  <v-textarea
                    v-model="note"
                    label="Note"
                    outline
                    :rules="[v => !!v || 'Item is required']"
                  ></v-textarea>
                  <v-btn v-if="this.note !== ''" class="primary" color="white--text" @click="saveNote">Save</v-btn>
                  <v-btn v-if="this.note !== ''" @click="clear()" class="primary" color="white--text">Clear</v-btn>
              </v-card-text>
              <v-card-text>
                  <h3>Search Note</h3>
                  <v-layout row wrap>
                      <v-flex xs12 sm4 md5>
                          <v-menu
                            ref="menu"
                            :close-on-content-click="false"
                            v-model="menu"
                            :nudge-right="40"
                            :return-value.sync="date"
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px">
                            <v-text-field
                                slot="activator"
                                v-model="date"
                                label="Start Date"
                                prepend-icon="event"
                                readonly></v-text-field>
                            <v-date-picker v-model="date" no-title scrollable>
                                <v-spacer></v-spacer>
                                <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                                <v-btn flat color="primary" @click="$refs.menu.save(date)">OK</v-btn>
                            </v-date-picker>
                        </v-menu>
                      </v-flex>
                      <v-flex xs12 sm4 md5>
                        <v-menu
                            ref="menu1"
                            :close-on-content-click="false"
                            v-model="menu1"
                            :nudge-right="40"
                            :return-value.sync="date1"
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px">
                            <v-text-field
                                slot="activator"
                                v-model="date1"
                                label="End Date"
                                prepend-icon="event"
                                readonly></v-text-field>
                            <v-date-picker v-model="date1" no-title scrollable>
                                <v-spacer></v-spacer>
                                <v-btn flat color="primary" @click="menu1 = false">Cancel</v-btn>
                                <v-btn flat color="primary" @click="$refs.menu1.save(date1)">OK</v-btn>
                            </v-date-picker>
                        </v-menu>
                    </v-flex>
                    <v-flex xs12 sm4 md2 text-xs-right>
                        <v-btn @click="searchNote" class="primary white--text">Search</v-btn>
                    </v-flex>
                  </v-layout>
              </v-card-text>
              <v-card class="large-2" style="width:100%">
               <v-list two-line  v-for="(item, i) in items" :key="i">
                    <template>
                        <v-list-tile
                        :key="item.title"
                        @click="showNote(item, i)"
                        >
                        <v-list-tile-content>
                            <v-list-tile-title>{{item.date}}</v-list-tile-title>
                            <v-list-tile-sub-title >{{item.note}}</v-list-tile-sub-title>
                        </v-list-tile-content>
                        </v-list-tile>
                    </template>
                </v-list>
                </v-card>
            </v-card>
          </v-flex>
          <v-dialog
            v-model="dialog"
            max-width="350"
            >
            <v-card>
                <v-card-title class="headline">Note</v-card-title>

                <v-card-text>
                <h3>{{ savedDate }}</h3>
                <h3>{{ savedTime }}</h3>
                <v-text-field
                    v-model="noteDetail"
                    label="Note"
                    textarea=""
                    outline
                ></v-text-field>
                </v-card-text>

                <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn
                    color="primary"
                    flat="flat"
                    @click="dialog = false"
                >
                    Cancel
                </v-btn>

                <v-btn
                    color="primary"
                    flat="flat"
                    @click="dialog = false"
                    @click.native="showEditDialog"
                >
                   Edit
                </v-btn>
                </v-card-actions>
            </v-card>
            </v-dialog>
            <v-dialog
            v-model="editDialog"
            max-width="350"
            >
            <v-card>
                <v-card-title class="headline">Edit Note</v-card-title>

                <v-card-text>
                <v-text-field
                v-model="noteDetail"
                textarea=""
                outline
                ></v-text-field>
                </v-card-text>

                <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn
                    color="primary"
                    flat="flat"
                    @click="editDialog = false"
                >
                   Cancel
                </v-btn>

                <v-btn
                    color="primary"
                    flat="flat"
                    @click="updateNote"
                >
                  Save
                </v-btn>
                </v-card-actions>
            </v-card>
            </v-dialog>
        </v-layout>
</v-container>
</template>
<script>
export default {
    data: () => ({
        currentDate : null,
        valid: false,
        note:'',
        date: null,
        menu: false,
        date1: null,
        menu1: false,
        dialog:false,
        editDialog:false,
        editText:'',
        noteDetail:'',
        savedDate: '',
        savedTime: '',
        savedId: '',
        saveDate: '',
        items: []
    }),
    computed : {
        hrNote () {
            return this.$store.getters.HRNote
        }
    },
    methods:{
        saveNote () {
            const today = new Date()
            var hours = today.getHours()
            var minutes = today.getMinutes()
            var seconds = today.getSeconds()
            if (hours < 10) {
                hours = '0' + hours
            }
            if (minutes <10) {
                minutes = '0' + minutes
            }
            if (seconds < 10) {
                seconds = '0' + seconds
            }
            const hrNote = {
                note : this.note,
                time : hours + '-' + minutes + '-' + seconds,
                date : this.saveDate
            }
            this.$store.dispatch('saveHRNote', hrNote)
            this.note = ' '
        },
        clear() {
            this.note=''
        },
        searchNote () {
            const searchNoteParameters = {
                startDate : this.date,
                endDate : this.date1
            }
            this.$store.dispatch('searchNote', searchNoteParameters)
        },
        showNote(item, i){
            this.savedDate = item.date
            this.savedTime = item.time
            this.noteDetail = item.note
            this.savedId = item.key
            this.dialog = true
        },
        showEditDialog() {
            this.dialog = false
            this.editDialog = true
        },
        updateNote() {
            const updateNoteObject = {
                date : this.savedDate,
                time : this.savedTime,
                id: this.savedId,
                note: this.noteDetail
            }
            this.$store.dispatch('updateNote', updateNoteObject)
            this.searchNote()
            this.editDialog = false
        }
    },
    watch : {
        hrNote (value) {
            if (value !== null) {
                this.items = value
            }
        }
    },
    created () {
        var today = new Date()
        var dd = today.getDate()
        var mm = today.getMonth()
        var yyyy = today.getFullYear()
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        var mm2 = Number(mm) + 1
        if (mm2 < 10) {
            mm2 = '0' + mm2
        }
        var days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
        var day = days[today.getDay()]
        today = day + ' , ' +yyyy + '-' + mm + '-' + dd
        this.currentDate = today
        this.saveDate = yyyy + '-' + mm2 + '-' + dd
    }
}
</script>