<template>
       <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark class="primary">
                <v-toolbar-title>Login</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form v-model="valid" ref="form">
                  <v-text-field prepend-icon="person" 
                    v-model="email" 
                    label="Email" 
                    :rules="emailRules"></v-text-field>
                  <v-text-field
                    v-model="password"
                    @keyup.enter="submit"
                    prepend-icon="lock"
                    :append-icon="show2 ? 'visibility_off' : 'visibility'"
                    :rules="passwordRules"
                    :type="show2 ? 'text' : 'password'"
                    name="input-10-2"
                    label="Password"
                    class="input-group--focused"
                    @click:append="show2 = !show2">
                    </v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click="submit()"  
                  :disabled="!valid" 
                  class="primary" 
                  color="white--text">
                    Login
                  </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
</template>
<script>
  export default {
    data: () => ({
      valid: false,
      show2: false,
      password: '',
      passwordRules: [
        v => !!v || 'Password is required'
      ],
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid'
      ]
    }),
    methods: {
        submit () {
          this.$store.dispatch('adminSignin', {
            email : this.email,
            password : this.password
          })
          this.$router.push('/add')
          }
    }
  }
</script>