<template>
  <v-container>
      <v-form v-model="valid"  ref="form">
      <v-layout row wrap>
          <v-flex xs12 sm2 pa-2>
            <h3 class="my-3"> Employee :</h3>
          </v-flex> 
          <v-flex xs12 sm4 pa-2>
              <v-select
              v-model="employee"
              :items="employeeArray"
              label="Select Employee"
              outline
              :rules="[v => !!v || 'Employee Name is required']"
              ></v-select>
          </v-flex>
      </v-layout>
      <v-layout row wrap>
          <v-flex xs12 sm2 pa-2>
            <h3 class="my-3"> Start Date :</h3>
          </v-flex> 
          <v-flex xs12 sm4 pa-2>
              <v-text-field 
              v-model="startYearInput"
              label="Enter Start Date of Year"
              outline
              :rules="[v => !!v || 'Start Year is required']"
              >
              </v-text-field>
          </v-flex> 
          <v-flex xs12 sm4 pa-2>
              <v-select
              v-model="startMonthSelect"
              :items="months"
              label="Select Start Date of Month"
              outline
              ></v-select>
          </v-flex>    
      </v-layout>
      <v-layout row wrap>
          <v-flex xs12 sm2 pa-2>
            <h3 class="my-3"> End Date :</h3>
          </v-flex> 
          <v-flex xs12 sm4 pa-2>
              <v-text-field 
              v-model="endYearInput"
              label="Enter End Date of Year"
              outline
              :rules="[v => !!v || 'Start Month is required']"
              >
              </v-text-field>
          </v-flex> 
          <v-flex xs12 sm4 pa-2>
              <v-select
              v-model="endMonthSelect"
              :items="months"
              label="Select End Date of Month"
              outline
              :rules="[v => !!v || 'End Year is required']"
              ></v-select>
          </v-flex>    
      </v-layout>
      </v-form>
      <v-flex text-xs-right mb-2>
            <v-btn @click="searchByMonth" class="primary white--text" :disabled="!valid">Search</v-btn>
          </v-flex>  
      <h3 class="my-3">{{ resultName }}</h3>
      <v-data-table
        :headers="headers"
        :items="items"
        :search="search"
        :pagination.sync="pagination"
        hide-actions
        class="elevation-1"
      >
        <template slot="headerCell" slot-scope="props">
          <v-tooltip bottom>
            <span slot="activator">
              {{ props.header.text }}
            </span>
            <span>
              {{ props.header.text }}
            </span>
          </v-tooltip>
        </template>
        <template slot="items" slot-scope="props">
          <td class="text-xs-center">{{ props.item.year }}</td>
          <td class="text-xs-center">{{ props.item.month }}</td>
          <!-- <td class="text-xs-center">{{ props.item.employee }}</td> -->
          <td class="text-xs-center">{{ props.item.salary }}</td>
        </template>
      </v-data-table>
      <div class="text-xs-center pt-2">
        <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
      </div>
  </v-container>
</template>
<script>
  export default {
    data: () => ({
      resultName: '',
      startDate: '',
      endDate: '',
      employee : '',
      employeeArray : [],
      startYearInput: '',
      startMonthSelect:'',
      endYearInput: '',
      endMonthSelect:'',
      search: '',
      valid:false,
      pagination: {},
      selected: [],
      months: ['January', 'February', 'March', 'April','May','June','July','August','September','October','November','December'],
      headers: [
          {
            text: 'Year',
            align: 'center',
            value: 'year'
          },
          { text: 'Month',align: 'center', value: 'month' },
          // { text: 'Employee',align: 'center', value: 'employee' },
          { text: 'Salary',align: 'center', value: 'salary' }
      ],
      items: []
    }),
    methods: {
      searchByMonth () {
        this.items = []
        const searchSalaryData = {
          employee : this.employee,
          startDate : this.startDate,
          endDate : this.endDate
        }
        this.$store.dispatch('searchForSalaryByMonth', searchSalaryData)
        this.$refs.form.reset() 
        // this.employee = '',
        // this.startYearInput = '',
        // this.startMonthSelect = '',
        // this.endYearInput = '',
        // this.endMonthSelect = ''
      }
    },
    computed:{
       pages () {
      if (this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      ) return 0

      return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
      },
      employeeNames () {
        return this.$store.getters.employeeNames
      },
      salaryResult () {
        return this.$store.getters.salaryResult
      }
    },
    watch : {
      employeeNames (value) {
        if (value !== null) {
          const obj = value
          const arrayOfNames = []
          for (let key in obj) {
            arrayOfNames.push(obj[key].name)
          }
          this.employeeArray = arrayOfNames
        } 
      },
      startMonthSelect (value) {
        if (value == 'January') {
          this.startDate = this.startYearInput + '-02-01'
        } else if (value == 'February') {
              this.startDate = this.startYearInput + '-03-01'
        } else if (value == 'March') {
          this.startDate = this.startYearInput + '-04-01'
        } else if (value == 'April') {
          this.startDate = this.startYearInput + '-05-01'
        } else if (value == 'May') {
          this.startDate = this.startYearInput + '-06-01'
        } else if (value == 'June') {
          this.startDate = this.startYearInput + '-07-01'
        } else if (value == 'July') {
          this.startDate = this.startYearInput + '-08-01'
        } else if (value == 'August') {
          this.startDate = this.startYearInput + '-09-01'
        } else if (value == 'September') {
          this.startDate = this.startYearInput + '-10-01'
        } else if (value == 'October') {
          this.startDate = this.startYearInput + '-11-01'
        } else if (value == 'November') {
          this.startDate = this.startYearInput + '-12-01'
        } else {
          this.startDate = (Number(this.startYearInput) + 1) + '-01-01'
        }
      },
      endMonthSelect (value) {
        if (value == 'January') {
          this.endDate = this.endYearInput + '-02-01'
        } else if (value == 'February') {
          this.endDate = this.endYearInput + '-03-01'
        } else if (value == 'March') {
          this.endDate = this.endYearInput + '-04-01'
        } else if (value == 'April') {
          this.endDate = this.endYearInput + '-05-01'
        } else if (value == 'May') {
          this.endDate = this.endYearInput + '-06-01'
        } else if (value == 'June') {
          this.endDate = this.endYearInput + '-07-01'
        } else if (value == 'July') {
          this.endDate = this.endYearInput + '-08-01'
        } else if (value == 'August') {
          this.endDate = this.endYearInput + '-09-01'
        } else if (value == 'September') {
          this.endDate = this.endYearInput + '-10-01'
        } else if (value == 'October') {
          this.endDate = this.endYearInput + '-11-01'
        } else if (value == 'November') {
          this.endDate = this.endYearInput + '-12-01'
        } else {
          this.endDate = (Number(this.endYearInput) + 1) + '-01-01'
        }
      },
      salaryResult (value) {
        if (value !== null) {
          const result = value
          var year = ''
          var month = ''
          for (let key in result) {
            this.resultName = result[key].name
            year = result[key].date.slice(0,4)
            month = Number(result[key].date.slice(5,7)) - 1
            if (month < 10) {
              month = '0' + month
            }
            this.items.push({
              year : year,
              month : month,
              salary : result[key].salary
            })
          }
        }
      }
    },
    created () {
      this.$store.dispatch('loadEmployeeNames')
    }
  }
</script>