<template>
<div>
  <div><b><span style="font-size:16px"> {{name}} </span></b></div>
   <v-data-table
    :headers="headers"
    :items="searchResult"
    hide-actions
    class="elevation-1"
  >
    <template slot="items" slot-scope="props">
      <td class="text-xs-center">{{ props.item.date }}</td>
          <td class="text-xs-center">{{ props.item.attendStatus }}</td>
          <td class="text-xs-center">{{ props.item.arriveTime }}</td>
          <td class="text-xs-center">{{ props.item.leaveTime }}</td>
    </template>
  </v-data-table>
</div>
</template>
<script>
  export default {
    data () {
      return {
        name: '',
        headers: [
          {
            text: 'Date',
            align: 'center',
            value: 'date'
          },
          { text: 'Status',align: 'center', value: 'status' },
          { text: 'Arrival Time',align: 'center', value: 'arriveTime' },
          { text: 'Leave Time',align: 'center', value: 'leaveTime' },
      ],
        goingPrintPage : true,
        goingPrintPage2 : ''
      }
    },
    created() {
      if(this.goingPrintPage == true){
            this.goingPrintPage2 = 'GoNow'// if we didn't use this code, the printing window will not appear.
      }
      if(this.searchResult.length == 0){
            this.name = ''
        }else{
        for(let key in this.searchResult){
          this.name = this.searchResult[key].name
          break
        }
        }
    },
    computed: {
      searchResult () {
          return this.$store.getters.searchResult
      }
    },
    watch: {
        goingPrintPage2(value){
            if(value == 'GoNow'){
                window.print()
                window.close()
                window.history.go(-2)
            }
        }
    }
  }
</script>