<template>
<v-container fluid>
    <v-layout row wrap align-center justify-center>      
          <v-flex xs12 sm9 pa-2>
            <v-card class="elevation-12">
              <v-card-text>
                <h3 class="hidden-sm-and-up">Personal:</h3>
                  <v-layout>
                    <v-flex sm2>
                      <h3 class="my-4 hidden-xs-only">Personal:</h3>
                    </v-flex>
                    <v-flex xs8 >
                        <v-text-field
                          v-model="personal"
                          label="Personal Leave"
                          single-line
                          maxlength=6
                        ></v-text-field>
                    </v-flex>
                  </v-layout> 
                  <h3 class="hidden-sm-and-up">Medical:</h3>
                  <v-layout>
                    <v-flex sm2>
                      <h3 class="my-4 hidden-xs-only">Medical:</h3>
                    </v-flex>
                    <v-flex xs8>
                        <v-text-field
                          v-model="medical"
                          label="Medical Leave"
                          single-line
                          :rules="digitRules"
                        ></v-text-field>
                    </v-flex>
                  </v-layout>
                   <h3 class="hidden-sm-and-up">Absence:</h3> 
                  <v-layout>
                    <v-flex sm2>
                      <h3 class="my-4 hidden-xs-only">Absense :</h3>
                    </v-flex>
                    <v-flex xs8>
                        <v-text-field
                          v-model="absence"
                          label="Absence Fee"
                          single-line
                          :rules="digitRules"
                        ></v-text-field>
                    </v-flex>
                  </v-layout> 
                   <h3 class="hidden-sm-and-up">Detection:</h3>
                  <v-layout>
                    <v-flex sm2>
                      <h3 class="my-4 hidden-xs-only">Detection:</h3>
                    </v-flex>
                    <v-flex xs8>
                        <v-text-field
                          v-model="detection"
                          label="Detection"
                          single-line
                          :rules="digitRules"
                        ></v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-flex xs4 sm2>
                        <v-btn  class="primary" color="white--text" @click.native ="submitRules()">Save</v-btn>
                    </v-flex>
              </v-card-text>
            </v-card>
          </v-flex>
    </v-layout>
    <v-dialog
      v-model="dialog"
      persistent
      lazy
      full-width
      width="500px">
  </v-dialog>
</v-container>
</template>

<script>
export default {
    data: () => ({
       valid: false,
       validate: false,
       employee:'',
       salary:'',
       dialog: false,
       remaining:'',
       personal: 0,
       medical: 0,
       absence: 0,
       detection: 0,
       items:[],
       salaryRules:[
        v => !!v || 'Salary is required',
        v => /[0-9]/.test(v) && v.length >= 6   || 'Salary must be digits and at least six'
       ],
       remainingRules:[
        v => !!v || 'Remaining Leaves is required',
        v => /[0-9]/.test(v) || 'Remaining Leaves must be digit'
       ],
        digitRules:[
        v => !!v || 'These input is required',
        v => /[0-9]/.test(v)  || 'These input must be digit' 
       ]
    }),
    computed : {
        hrRules () {
        return this.$store.getters.hrRules
      }
    },
     watch : {
         hrRules(value) {
           this.absence = value.absenceLeave
           this.detection = value.detectionFee
           this.medical = value.medicalLeave
           this.personal = value.personalLeave
         }
     },
     methods : {
        //  submitSalary () {
        //      const salaryObject = {
        //          employee : this.employee,
        //          salary : this.salary,
        //          remainingLeaves : this.remaining
        //      }
        //      this.$store.dispatch('submitSalary', salaryObject)
        //      this.$refs.form1.reset()
        //  },
         submitRules () {
             const rulesObject = {
                 personalLeave : this.personal,
                 medicalLeave : this.medical,
                 absenceLeave : this.absence,
                 detectionFee : this.detection
             }
             this.$store.dispatch('submitRules', rulesObject)
         }
     },
     created () {
         this.$store.dispatch('loadHrRules')
     }
}
</script>
