<template>
<v-container fluid>
    <v-form v-model="valid" ref="form">
    <v-layout row wrap>
        <v-flex xs12 sm3>
            <v-select v-model="select" label="Employee"
            :rules="[v => !!v || 'Employee is required']"
            :items="items"
            required></v-select>            
        </v-flex>
        <v-spacer></v-spacer>
        <v-flex xs12 sm3>
            <v-menu
                ref="menu"
                :close-on-content-click="false"
                v-model="menu"
                :nudge-right="40"
                :return-value.sync="date"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px">
                <v-text-field
                    slot="activator"
                    v-model="date"
                    label="Start Date"
                    prepend-icon="event"
                    :rules="[v => !!v || 'Start Date is required']"
                    readonly></v-text-field>
                <v-date-picker v-model="date" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                    <v-btn flat color="primary" @click="$refs.menu.save(date)">OK</v-btn>
                </v-date-picker>
            </v-menu>
        </v-flex>
        <v-spacer></v-spacer>
        <v-flex xs12 sm3>
            <v-menu
                ref="menu1"
                :close-on-content-click="false"
                v-model="menu1"
                :nudge-right="40"
                :return-value.sync="date"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px">
                <v-text-field
                    slot="activator"
                    v-model="date1"
                    label="End Date"
                    prepend-icon="event"
                    :rules="[v => !!v || 'End Date is required']"
                    readonly></v-text-field>
                <v-date-picker v-model="date1" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="menu1 = false">Cancel</v-btn>
                    <v-btn flat color="primary" @click="$refs.menu1.save(date)">OK</v-btn>
                </v-date-picker>
            </v-menu>
        </v-flex>
        <v-spacer></v-spacer>
        <v-flex xs12 sm1 pt-3 text-xs-right>
            <v-btn @click="searchAttendance" :disabled="!valid" class="primary white--text">Search</v-btn>
        </v-flex>
    </v-layout>
    </v-form>
    <v-flex xs12 >
        <span style="font-size:20px">{{this.resultEmployee}}</span>
    </v-flex>
    <v-layout align-center justify-center mt-5>
       <v-flex xs12>
           <v-card class="elevation-12">
                <v-data-table
                    id="printArea"
                    :headers="headers"
                    :items="employee"
                    hide-actions
                    :pagination.sync="pagination"
                    class="elevation-1">
                    <template slot="items" slot-scope="props">
                    <td class="text-xs-center">{{ props.item.date }}</td>
                    <td class="text-xs-center">{{ props.item.status }}</td>
                    <td class="text-xs-center">{{ props.item.arriveTime }}</td>
                    <td class="text-xs-center">{{ props.item.leaveTime }}</td>
                    <!-- <td class="text-xs-center">{{ props.item.note }}</td> -->
                    <td class="text-xs-center">
                        <v-btn flat color="primary" :disabled='!props.item.boolForButton' @click.native.stop="showDialogAndNote(props.item.note)">
                            <v-icon>description</v-icon>
                        </v-btn>
                    </td>
                    </template>
                </v-data-table>
            </v-card>
           <div class="text-xs-center pt-2">
                <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
            </div>
       </v-flex>       
    </v-layout>
    <v-dialog 
        v-model="dialog"
        max-width="350">
        <v-card>
                <v-card-title class="headline">Note</v-card-title>

            <v-card-text>
                <v-textarea
                    v-model="noteDetail"
                    label="Note"
                ></v-textarea>
                </v-card-text>

                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="primary"
                    flat="flat"
                    @click="dialog = false"
                >
                  OK
                </v-btn>
                </v-card-actions>
            </v-card>
    </v-dialog>
    <v-flex xs12 text-xs-right>
        <v-btn @click="print" class="primary white--text">Print</v-btn>
    </v-flex> 
</v-container>
</template>
<script>
export default{
    data () {
        return {
            date: null,
            menu: false,
            date1: null,
            valid: false,
            menu1: false,
            pagination:{},
            dialog:false,
            noteDetail: '',
            select:'',
            items: [],
            resultEmployee: '',
            headers: [
                {
                    text: 'Date',
                    align: 'center',
                    value: 'date'
                },
                { 
                    text: 'Status',
                    align: 'center', 
                    value: 'status' 
                },
                { 
                    text: 'Arrival Time',
                    align: 'center', 
                    value: 'arriveTime' 
                },
                { 
                    text: 'Leave Time',
                    align: 'center', 
                    value: 'leaveTime' 
                },
                { 
                    text: 'Note',
                    align: 'center', 
                    value: 'note' 
                }
            ],
            employee: []
        }
    },
    computed:{
    pages () {
      if (this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      ) return 0

      return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
      },
      employeeNames () {
          return this.$store.getters.employeeNames
      },
      searchResult () {
          return this.$store.getters.searchResult
      }
    },
    watch : {
        employeeNames (value) {
            if (value !== null) {
                const obj = value
          const arrayOfNames = []
          for (let key in obj) {
            arrayOfNames.push(obj[key].name)
          }
          this.items = arrayOfNames
            }
        },
        searchResult (value) {
            if (value !== null) {
                const resultObj = value
                for (let key in resultObj) {
                    this.employee.push({
                        date : resultObj[key].date,
                        status : resultObj[key].attendStatus,
                        leaveTime : resultObj[key].leaveTime,
                        arriveTime : resultObj[key].arriveTime,
                        note : resultObj[key].leaveNote,
                        boolForButton: resultObj[key].boolForButton
                    })
                }
            }
            this.pagination.totalItems = this.employee.length
        }
    },
    methods : {
        searchAttendance () {
            this.employee = []
            this.resultEmployee = this.select
            const searchParameters ={
                searchedEmployee : this.select,
                startDate : this.date,
                endDate : this.date1
            }
            this.$store.dispatch('searchAttendance', searchParameters)
            this.$refs.form.reset() 
            // this.date = null,
            // this.date1 = null,
            // this.select = ''
        },
        print () {
            this.$router.push('/print')
        },
        showDialogAndNote(note){
            this.noteDetail = note
            this.dialog = true
        }
    },
    created () {
        this.$store.dispatch('loadEmployeeNames')
    }
}
</script>