<template>
  <v-app>
    <v-navigation-drawer v-if="!Login && !Print"
      fixed
      :clipped="$vuetify.breakpoint.mdAndUp"
      app
      v-model="drawer"
    >
    <v-list dense>
       <v-list-tile  @click="add()">
          <v-list-tile-action>
            <v-icon>group_add</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Add Employee</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile  @click="routeToAttendPeople">
          <v-list-tile-action>
            <v-icon>event_note</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Attendance Sheet</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile  @click="$router.push('/search')">
          <v-list-tile-action>
            <v-icon>search</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Search Attendance</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile  @click="$router.push('/rules')">
          <v-list-tile-action>
            <v-icon>account_balance</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Rules</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile  @click="$router.push('/payroll')">
          <v-list-tile-action>
            <v-icon>monetization_on</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Payroll</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile  router to="/note">
          <v-list-tile-action>
            <v-icon>chrome_reader_mode</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>HR Note</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile  @click="$router.push('/')">
          <v-list-tile-action>
             <v-icon>exit_to_app</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title @click="adminLogout">Logout</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
    </v-list>
    </v-navigation-drawer>
    <v-toolbar v-if="!Login && !Print"
      color="blue darken-3"
      dark
      app
      :clipped-left="$vuetify.breakpoint.mdAndUp"
      fixed
    >
      <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <span class="hidden-sm-and-down">{{ $route.meta.title }}</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn flat id="btnWidth" @click="adminLogout">
        Logout
      </v-btn>
    </v-toolbar>
    <v-content>
     <router-view/>
    </v-content>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      dialog: false,
      drawer: null,
    props: {
      source: String
    }
    }
  },
  name: 'App',
  methods: {
    add(){
       this.$router.push('/add')
    },
    adminLogout () {
      this.$store.dispatch('adminLogout')
      this.$router.push('/')
    },
    routeToAttendPeople () {
      this.$router.push('/attend')
      this.$store.dispatch('loadEmployeeNames')
    }
  },
  computed:{
    Login(){
      return this.$route.path === '/'
    },
    Print () {
      return this.$route.path === '/print'
    }
  }
}
</script>
<style>
.v-overlay--active:before {
    opacity: 0;
}
.large-2 {
  float: left;
  max-height: 230px !important;
  min-height: 15px !important;
  overflow-y: auto;
}
.large-2::-webkit-scrollbar-track {
  border: 1px solid #9e9e9e;
  padding: 2px 0;
  background-color: #9e9e9e;
}
.large-2::-webkit-scrollbar {
  width: 7px;
}
.large-2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #fafafa;
  border: 1px solid #9e9e9e;
}
</style>
